.buttons {
  display: flex;
  justify-self: end;
  gap: 10px;
  margin-top: 10px;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.iconButton {
  z-index: 100000;
  font-size: 16px;
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.formItem {
  margin-top: 10px;
  width: 100%;
  height: 70px;
}
.errorText {
  color: red;
  font-size: 12px;
  font-family: "Montserrat";
}
.buttonFilled {
  width: 100px;
  font-size: 12px;
  height: 40px;
}
.buttonUnfilled {
  width: 100px;
  font-size: 12px;
  height: 40px;
}
.form {
  align-items: start;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
}
.input {
  width: 100%;
  line-height: 1.6715;
  padding: 4px 40px 4px 11px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
}
.successInput {
  border: 1px solid #00ff40;
}
.errorInput {
  border: 1px solid #ff0000;
}

.input:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  outline: none;
}
.input:target {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  outline: none;
}
