@font-face {
  font-family: "Montserrat";
  src: url("@/assets/font/Montserrat-Medium.ttf") format("truetype");
}
body {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.alignText {
  letter-spacing: 0.2px;
  font-size: 58px;
  font-weight: 700;
  font-family: "Montserrat";
}
.bigBodyText {
  letter-spacing: 0.1px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat";
}
.bodyText {
  letter-spacing: 0.1px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat";
}
.paragraphText {
  color: #737373;
  letter-spacing: 0.2px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat";
}
@media (max-width: 1000px) {
  .alignText {
    font-size: 38px;
  }
}
@media (max-width: 600px) {
  .alignText {
    font-size: 28px;
  }
}
